@font-face {
  font-family: Vollkorn;
  src: url("../font/TTF/Vollkorn-Regular.ttf"); }
html, body {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  height: 100%;
  overflow-x: hidden;
  font-family: Vollkorn, serif;
  font-weight: 100; }

.Wrapper {
  height: 100%; }

.Header {
  padding: 25px; }
  .Header-logo {
    width: 25px; }
  .Header-mobileNavTrigger {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 30;
    width: 35px; }
    .Header-mobileNavTrigger-part {
      width: 100%;
      height: 4px;
      background-color: #0286c4;
      margin-bottom: 6px;
      border-radius: 2px; }
    @media (min-width: 800px) {
      .Header-mobileNavTrigger {
        display: none; } }
  .Header .Header-navigation {
    position: absolute;
    z-index: 20;
    top: 0px;
    right: -100%;
    width: calc(100% - 75px);
    height: 100%;
    background-color: #0286c4; }
    .Header .Header-navigation ul {
      margin-left: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      list-style: none;
      padding: 0; }
      .Header .Header-navigation ul li {
        margin-bottom: 10px; }
        .Header .Header-navigation ul li a {
          color: white;
          text-decoration: none;
          font-size: 2em;
          font-family: Vollkorn, serif; }
        .Header .Header-navigation ul li .active {
          border-bottom: 3px solid white; }
    @media (min-width: 800px) {
      .Header .Header-navigation {
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -300px;
        width: 600px;
        height: auto;
        background-color: transparent; }
        .Header .Header-navigation ul {
          position: static;
          margin-top: 0;
          margin-left: 0;
          transform: translateY(0);
          text-align: center; }
          .Header .Header-navigation ul li {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 50px; }
            .Header .Header-navigation ul li a {
              color: black;
              font-size: 1em; }
            .Header .Header-navigation ul li .active {
              border-bottom: 3px solid black; }
          .Header .Header-navigation ul li:last-of-type {
            margin-right: 0; } }

.Frontpage {
  display: none;
  height: 100%;
  padding: 25px;
  background: url("../img/decor.png") center center fixed;
  background-size: auto 100%; }
  @media (min-width: 800px) {
    .Frontpage {
      background-size: cover; } }
  .Frontpage-icecreams {
    position: relative;
    width: 100%;
    height: 400px; }
    .Frontpage-icecreams-icecream {
      position: absolute;
      height: 100%;
      width: 100%; }
      .Frontpage-icecreams-icecream-decorIcecream {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 120px;
        width: 120px; }
        @media (min-width: 800px) {
          .Frontpage-icecreams-icecream-decorIcecream {
            display: block; } }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(1) {
          margin-top: -170px;
          margin-left: -300px;
          transform: rotate(-20deg); }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(2) {
          margin-top: 0px;
          margin-left: -400px;
          transform: rotate(-120deg);
          height: 100px;
          width: 100px; }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(3) {
          margin-top: 60px;
          margin-left: -250px;
          transform: rotate(30deg); }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(4) {
          margin-top: -170px;
          margin-left: 250px;
          transform: rotate(-80deg); }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(5) {
          margin-top: 0px;
          margin-left: 170px;
          transform: rotate(30deg);
          width: 170px;
          height: 170px; }
        .Frontpage-icecreams-icecream-decorIcecream:nth-child(6) {
          margin-top: 120px;
          margin-left: 350px;
          transform: rotate(190deg);
          width: 70px;
          height: 70px; }
    .Frontpage-icecreams .classic {
      background: url(../img/icecreams/classic.png); }
      .Frontpage-icecreams .classic .Frontpage-icecreams-icecream-decorIcecream {
        background: url(../img/icecreams/classic.png); }
    .Frontpage-icecreams .fruit {
      background: url(../img/icecreams/fruit.png);
      top: 25%;
      left: 75%;
      height: 50%;
      width: 50%; }
      .Frontpage-icecreams .fruit .Frontpage-icecreams-icecream-decorIcecream {
        background: url(../img/icecreams/fruit.png); }
    .Frontpage-icecreams .cones {
      background: url(../img/icecreams/cones.png);
      top: 25%;
      left: -25%;
      height: 50%;
      width: 50%; }
      .Frontpage-icecreams .cones .Frontpage-icecreams-icecream-decorIcecream {
        background: url(../img/icecreams/cones.png); }
    .Frontpage-icecreams .classic, .Frontpage-icecreams .fruit, .Frontpage-icecreams .cones {
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center; }
      .Frontpage-icecreams .classic .Frontpage-icecreams-icecream-decorIcecream, .Frontpage-icecreams .fruit .Frontpage-icecreams-icecream-decorIcecream, .Frontpage-icecreams .cones .Frontpage-icecreams-icecream-decorIcecream {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center; }
    .Frontpage-icecreams-info {
      font-family: Vollkorn, serif;
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%; }
      .Frontpage-icecreams-info h1, .Frontpage-icecreams-info span {
        text-align: center;
        font-weight: 100; }
      .Frontpage-icecreams-info h1 {
        font-size: 2.7em;
        margin-bottom: 0;
        line-height: 100%; }
      .Frontpage-icecreams-info span {
        display: block; }
    @media (min-width: 800px) {
      .Frontpage-icecreams {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow-x: hidden; }
        .Frontpage-icecreams .fruit {
          top: 0;
          left: 100%;
          height: 100%;
          width: 100%; }
        .Frontpage-icecreams .cones {
          top: 0;
          left: 200%;
          height: 100%;
          width: 100%; } }
  .Frontpage-icecreamNavigation {
    margin-top: 50px;
    overflow: auto;
    text-align: center; }
    .Frontpage-icecreamNavigation > div {
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      padding: 3px;
      border-radius: 50%;
      margin-right: 12.5px; }
      .Frontpage-icecreamNavigation > div div {
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 50%; }
    .Frontpage-icecreamNavigation > div:last-of-type {
      margin-right: 0; }
    .Frontpage-icecreamNavigation > div:hover div {
      background-color: #f66e83; }
    .Frontpage-icecreamNavigation .active {
      border: 1px solid black; }
      .Frontpage-icecreamNavigation .active div {
        background-color: #f66e83; }
    @media (min-width: 800px) {
      .Frontpage-icecreamNavigation {
        position: absolute;
        bottom: 0px;
        width: 100%;
        bottom: 25px; } }

.Assortment {
  display: block; }
  .Assortment-top {
    overflow: auto;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    width: 100%;
    max-width: 800px; }
    .Assortment-top-icecream {
      width: 100%;
      height: 400px;
      background: url(../img/icecreams/fruit.png);
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center;
      transform: rotate(20deg); }
      @media (min-width: 800px) {
        .Assortment-top-icecream {
          float: left;
          width: 50%; } }
    .Assortment-top-form {
      position: relative;
      top: -100px;
      display: block; }
      .Assortment-top-form-keyInfo {
        margin-bottom: 25px; }
        .Assortment-top-form-keyInfo h1 {
          font-size: 2.7em;
          margin-bottom: 12.5px;
          line-height: 100%; }
      .Assortment-top-form-group {
        margin-bottom: 25px; }
        .Assortment-top-form-group label {
          display: block;
          margin-bottom: 2px; }
        .Assortment-top-form-group input, .Assortment-top-form-group textarea {
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          border: 0;
          border-radius: 2px; }
        .Assortment-top-form-group textarea {
          resize: vertical; }
        .Assortment-top-form-group button {
          float: right;
          border: 0;
          border-radius: 2px;
          padding: 15px 30px;
          background-color: #0286c4;
          color: white; }
        .Assortment-top-form-group-error {
          position: relative;
          top: 7px; }
          .Assortment-top-form-group-error-triangle {
            position: absolute;
            top: -7px;
            left: 5px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ed1c5d; }
          .Assortment-top-form-group-error-message {
            padding: 5px;
            font-size: 0.7em;
            background-color: #ed1c5d;
            color: white;
            border-radius: 2px; }
      @media (min-width: 800px) {
        .Assortment-top-form {
          float: left;
          top: 0;
          width: 50%; } }
  .Assortment-comments {
    padding: 25px;
    background-color: white; }
    .Assortment-comments-child {
      margin: 0 auto;
      width: 100%;
      max-width: 800px; }
      .Assortment-comments-child-title {
        font-size: 2em; }
      .Assortment-comments-child-comment {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        margin-bottom: 25px; }
        .Assortment-comments-child-comment-icecream {
          float: left;
          width: 20px;
          height: 60px;
          background: url(../img/icecreams/fruit.png);
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center;
          transform: rotate(20deg); }
        .Assortment-comments-child-comment-text, .Assortment-comments-child-comment-name {
          margin-left: 25px; }
        .Assortment-comments-child-comment-text {
          font-size: 1.2em; }
        .Assortment-comments-child-comment-name {
          font-size: 0.8em;
          color: #f66e83; }

/*# sourceMappingURL=style.css.map */
